.one {
    font-family: 'Oswald', sans-serif;
}
.two {
    font-family: 'MuseoModerno', cursive;
}
h1{font-size:80px;
font-family: 'MuseoModerno', cursive;
} 
h2{font-size:30px;
    font-family: 'Oswald', sans-serif;
} 
h3{font-size:24px} 
h4{font-size:20px} 
h5{font-size:18px} 
h6{font-size:16px}