
body { 
    margin: 0px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /*max-width: 2000px;*/
}
header { border: 0px black solid;}


h1 {
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Oswald', sans-serif;*/
    } 
    
h2 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Oswald', sans-serif;*/
} 

h3 {
    font-size:28px;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Oswald', sans-serif;*/
} 

h4 {
    font-size:24px;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Oswald', sans-serif;*/
} 

h5 { 
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
} 

h6 { 
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Oswald', sans-serif;*/
}

p { 
    font-size:18px;
    color: #1B1B1B;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Oswald', sans-serif;*/
}
*/

/*
font-family: 'Oswald', sans-serif;
*/
/* Icon fonts */

/* 
@font-face {
    font-family: "iconsFilled";
    src: url("fonts/ss-glyphish-filled.woff") format('woff');
}

@font-face {
    font-family: "myfont";
    src: url("fonts/awesome-font-bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "myfont";
    src: url("fonts/awesome-font-boldoblique.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "myfont";
    src: url("fonts/awesome-font-oblique.woff") format('woff');
    font-style: italic;
}

/* Text Fonts */

/* 
@font-face {
    font-family: GraublauWeb;
    src: url("path/GraublauWeb.otf") format("opentype");
}

@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url("path/GraublauWebBold.otf") format("opentype");
}

*/

.navigation {
    display: flex;
    height: 80px;
    border-bottom: 1px solid black;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.inline-block a{
    color: black;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

.logo {
    width: 25%;
    padding: 1%;
    background-color: hotpink;
}
.center {
    width: 20%;
    padding: 1%;
    background-color: green;
}
nav {
    width: 43%;
    padding: 1%;
    background-color: aqua;
}
nav a:hover{
    color: rgb(126, 126, 126);
    /*background-color: aqua;*/
}

ul {
    width: 50%;
    margin-left: auto;
}

.logo {
    text-align: center;
}

.heroImg {
    height: 800px;
    padding: 25px;
}

.content {
    width: 500px;
    padding-left: 700px;
    /*margin: 50px auto;
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;*/
}
.content2 {
    width: 300px;
    padding-left: 500px;
    /*margin: 50px auto;
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;*/
}
.topHeadline {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    justify-content: left;
    padding-left: 50px;
    /*padding-top: ;*/
}
button {
    background-color: white;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    /*border: 1px solid ;*/
    box-shadow: 4px 4px rgb(0, 0, 0);
    transition-duration: 0.06s;
    outline: 1px solid black;
    border: none;
}
button:hover {
    color: rgb(126, 126, 126);
    /*border:none;
    border-width: 0px;*/
}
button:active {
    color: black;
    background-color: #ffffff;
    box-shadow: 0px 0px rgb(0, 0, 0);
    border: none;
    border-width: 0px;
    transform: translate(4px, 4px);
  }
  .panel2 {
      background-color: #F5F5F5;
      height: 600px;
      padding: 25px;
      border-top: 1px black solid;
      /*border-bottom: 1px black solid;*/
  }
  .panel {
    color: #F5F5F5;
    height: 600px;
    padding: 25px;
    border-top: 1px black solid;
    /*border-bottom: 1px black solid;;*/
}
.panel3 {
    background-color: #1B1B1B;
    height: 600px;
    padding: 25px;
    border-top: 1px rgb(255, 255, 255) solid;
    /*border-bottom: 1px white solid;*/
}

  .leftTextMed {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    justify-content: left;
    padding-left: 50px;
    /*padding-top: ;*/
  }
footer {
    background-color: #1B1B1B;
}

.footerUl {
    color: #ffffff;
    display: flex;
    justify-content: center;
    vertical-align: top;
    width: 100%;
    margin: 0;
    padding: 0;
    /*margin-left: auto;
    text-align: center;
    padding: 1%;*/
}
footer li {
    font-family: iconsFilled;
    /*padding-top: 20px;*/
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.centerText {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

.ss-icon {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.ss-icon:hover {
    color: rgb(126, 126, 126);
}

/*
button {
    color: black;
    font-size: 16px;
    padding: 15px;
    width: 50%;
    border: none;
    border-width: 0px;
    box-shadow: 4px 4px rgb(255, 255, 255);
    transition-duration: 0.15s;
}
button:hover {
    opacity: 0.7;
    border:none;
    border-width: 0px;
}
button:active {
    background-color: #ff0000;
    box-shadow: 0px 0px #666;
    border: none;
    border-width: 0px;
    transform: translate(6px, 6px);
  }
/* grid system Panel 1*/


/*

.item-a {
    grid-area: header;
    background-color: orange;
  }
  .item-b {
    grid-area: main;
    background-color: blue;
    

  }
  .item-c {
    grid-area: sidebar;
    background-color: pink;
  }
  .item-d {
    grid-area: footer;
    background-color: green;
  }
  .item-e {
    grid-area: bonus;
    background-color: red;
    padding: 20px;
  }
  .item-f {
    grid-area: footer2;
    background-color: green;
  }
  .container {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header header header"
      "sidebar sidebar sidebar . main main"
      ". . footer footer footer footer"
      "bonus bonus bonus . . ."
      ". . . . . ."
      "footer2 footer2 footer2 footer2 footer2 footer2";
  }

  /*panel 1*/
  .p1-headpad {
      grid-area: headpad;
      height: 50px;
      /*background-color: slategray;*/
  }
  .p1-item-a {
    grid-area: header;
    /*background-color: orange;*/
    font-size:56px;
    
    /*font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    
    justify-content: left;
    /*padding-left: 50px;*/
    /*padding-top: ;*/
    /*height: 100px;*/
  }
  .p1-item-b {
    grid-area: main;
    /*background-color: blue;*/
    /*justify-self: center;*/
    z-index: 10;
  }
  .p1-item-b img{
    width: 100%;
}
  .p1-item-c {
    grid-area: sidebar;
    /*background-color: pink;*/
    font-size:33px;
    font-family: 'Oswald', sans-serif;
    /*
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: left;
    */
  }
  .p1-item-d {
    grid-area: footer;
    /*background-color: green;*/
  }
  .p1-item-e {
    grid-area: bonus;
    /*background-color: red;*/
    padding: 20px;
  }
  .p1-item-f {
    grid-area: footer2;
    /*background-color: green;*/
  }
  .p1-footpad {
    grid-area: footpad;
    height: 50px;
    /*background-color: slategray;*/
  }
  .p1-container {
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: auto;
    column-gap: 10px;
    grid-template-areas: 
      "headpad headpad headpad headpad headpad headpad"
      "header header header header header ."
      "sidebar sidebar sidebar main main main"
      /*". . footer footer footer footer"*/
      "bonus bonus bonus main main main"
      "footpad footpad footpad footpad footpad footpad";
      background-color: rgb(255, 255, 255);
  }

    /*panel 2*/
    .p2-headpad {
        grid-area: headpad_2;
        height: 50px;
        /*background-color: slategray;*/
    }
    .p2-descript-a {
        grid-area: descript_2;
        /*background-color: rgb(0, 206, 69);*/
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        /*width: 800px;*/
        justify-content: left;
        /*padding-left: 50px;
        padding-top: ;*/
      }
    .p2-item-a {
      grid-area: header_2;
      /*background-color: orange;
      
      font-size: 60px;
      font-family: Arial, Helvetica, sans-serif;
      
      justify-content: left;
      /*padding-left: 50px;*/
      /*padding-top: ;*/
      /*height: 100px;*/
    }
    .p2-item-b {
      grid-area: main_2;
      /*background-color: blue;*/
      justify-self: center;
      /*object-fit: contain;*/
      z-index: 10;
    }
    .p2-item-b img{
        width: 100%;
        max-width: 50rem;
    }
      
    .p2-item-c {
      grid-area: sidebar_2;
      /*background-color: pink;*/
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      justify-content: left;
      border-top: 1px solid black;
    }
    .p2-item-d {
      grid-area: footer_2;
      /*background-color: green;*/
    }
    .p2-item-e {
      grid-area: bonus_2;
      /*background-color: red;*/
      padding: 20px;
    }
    .p2-item-f {
      grid-area: footer_2;
      /*background-color: green;*/
    }
    .p2-footpad {
      grid-area: footpad_2;
      height: 50px;
      /*background-color: slategray;*/
    }
    .p2-container {
      padding-left: 50px;
      padding-right: 50px;
      display: grid;
      grid-template-columns: 16% 16% 16% 16% 16% 16%;
      grid-template-rows: auto;
      column-gap: 10px;
      grid-template-areas: 
        "headpad_2 headpad_2 headpad_2 headpad_2 headpad_2 headpad_2"
        "header_2 header_2 main_2 main_2 main_2 main_2"
        "sidebar_2 sidebar_2 main_2 main_2 main_2 main_2"
        ". . main_2 main_2 main_2 main_2"
        "footpad_2 footpad_2 footpad_2 footpad_2 footpad_2 footpad_2";
        background-color: #F5F5F5;
        border-top: 1px solid black;
    }

    /*panel 3*/
    
    .p3-headpad {
        grid-area: headpad_3;
        height: 50px;
        /*background-color: slategray;*/
    }
    .p3-descript-a {
        grid-area: descript_3;
        /*background-color: rgb(0, 206, 69);*/
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        /*width: 800px;*/
        justify-content: left;
        /*padding-left: 50px;
        padding-top: ;*/
      }
    .p3-item-a {
      grid-area: header_3;
      /*background-color: orange;*/
      color: white;
     /* 
      font-size: 60px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      justify-content: left;
      /*padding-left: 50px;*/
      /*padding-top: ;*/
      /*height: 100px;*/
    }
    .p3-item-b {
      grid-area: main_3;
      /*background-color: blue;*/
      justify-self: center;
      z-index: 10;
    }
    .p3-item-b img{
      width: 100%;
      max-width: 50rem;
    }

    .p3-item-c {
      /*border: 1px solid rgb(255, 0, 0);*/
      color: white !important;
      grid-area: sidebar_3;
      /*background-color: pink;*/
      /*font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      justify-content: left;*/
      border-top: 1px solid rgb(255, 255, 255);
    }
    .p3-item-d {
      grid-area: footer_3;
      /*background-color: green;*/
    }
    .p3-item-e {
      grid-area: bonus_3;
      /*background-color: red;*/
      padding: 20px;
    }
    .p3-item-f {
      grid-area: footer_3;
      /*background-color: green;*/
    }
    .p3-footpad {
      grid-area: footpad_3;
      height: 50px;
      /*background-color: slategray;*/
    }
    .p3-container {
      padding-left: 50px;
      padding-right: 50px;
      display: grid;
      grid-template-columns: 16% 16% 16% 16% 16% 16%;
      grid-template-rows: auto;
      column-gap: 10px;
      grid-template-areas: 
        "headpad_3 headpad_3 headpad_3 headpad_3 headpad_3 headpad_3"
        "main_3 main_3 main_3 main_3 header_3 header_3"
        "main_3 main_3 main_3 main_3 sidebar_3 sidebar_3"
        "main_3 main_3 main_3 main_3 . ."
        "footpad_3 footpad_3 footpad_3 footpad_3 footpad_3 footpad_3";
        background-color: #2E2E2E;
        border-top: 1px solid black;
    }


    /* Footer */
        /*panel 3*/
 /*   
        .f-headpad {
            grid-area: headpad_f;
            height: 50px;
            background-color: slategray;
        }
        .f-descript-a {
            grid-area: descript_f;
            background-color: rgb(0, 206, 69);
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            /*width: 800px;*/
/*            justify-content: left;
            /*padding-left: 50px;
            padding-top: ;*/
/*          }
        .f-item-a {
          grid-area: header_f;
          background-color: orange;
          color: white;
          
          /*font-size: 60px;
          font-family: Arial, Helvetica, sans-serif;
          color: white;
          justify-content: left;
          /*padding-left: 50px;*/
          /*padding-top: ;*/
          /*height: 100px;*/
/*        }
        .f-item-b {
          grid-area: main_f;
          /*background-color: blue;*/
/*          justify-self: center;
          z-index: 10;
        }
        .f-item-c {
          grid-area: sidebar_f;
          background-color: pink;
          font-size: 30px;
          font-family: Arial, Helvetica, sans-serif;
          color: white;
          justify-content: left;
          border-top: 1px solid black;
        }
        .f-item-d {
          grid-area: footer_f;
          background-color: green;
        }
        .f-item-e {
          grid-area: bonus_f;
          background-color: red;
          padding: 20px;
        }
        .f-item-f {
          grid-area: footer_f;
          background-color: green;
        }
        .f-footpad {
          grid-area: footpad_f;
          height: 50px;
          background-color: slategray;
        }
        .f-container {
          padding-left: 50px;
          padding-right: 50px;
          display: grid;
          grid-template-columns: 16% 16% 16% 16% 16% 16%;
          grid-template-rows: auto;
          grid-template-areas: 
            "headpad_f headpad_f headpad_f headpad_f headpad_f headpad_f"
            "header_f header_f header_f header_f header_f header_f"
            "footpad_f footpad_f footpad_f footpad_f footpad_f footpad_f";
            background-color: #2E2E2E;
            border-top: 1px solid black;
        }
        .f-iconList {
            color: #ffffff;
            display: inline-block;
            vertical-align: top;
            /*width: 100%;
            margin-left: auto;
            text-align: center;
            padding: 1%;*/
/*      }
        .f-inlineBlock {
            display: inline-block;
            vertical-align: top;
            text-decoration: none;
        }
        .inline-block a{
            color: black;
            display: inline-block;
            vertical-align: top;
            text-decoration: none;
        }
        /*
        .footerul2 li {
            font-family: iconsFilled;
            color: red;
            /*padding-top: 20px;
            padding-left: 15px;
            padding-right: 15px;
        }
    */    
 

        /*
        .inline-block {
        display: inline-block;
        vertical-align: top;
        }
        .inline-block a{
        color: black;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        }
        .centerText {
        color: rgb(255, 255, 255);
        text-align: center;
        padding-top: 5px;
        padding-bottom: 30px;
        }
          .leftTextMed {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    justify-content: left;
    padding-left: 50px;
    padding-top: ;
  }
footer {
    background-color: #1B1B1B;
}

.footerUl {
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    /*margin-left: auto;
    text-align: center;
    padding: 1%;
}
footer li {
    font-family: iconsFilled;
    /*padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.centerText {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
}
.ss-icon {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.ss-icon:hover {
    color: rgb(126, 126, 126);
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}
.inline-block a{
    color: black;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}

/*Nav Panel 1*/
.n1-headpad {
  grid-area: headpad_n;
  height: 10px;
  /*background-color: slategray;*/
}
.n1-item-a {
grid-area: header_n;
/*background-color: orange;*/
/*background-color: tomato;*/
vertical-align: top;

/*font-size: 60px;
font-family: Arial, Helvetica, sans-serif;

justify-content: left;
/*padding-left: 50px;*/
/*padding-top: ;*/
/*height: 100px;*/
}
.n1-item-a p {
  /*
  color: rgb(255, 0, 221);
  */
}
.n1-item-b {
grid-area: main_n;
/*background-color: teal;*/
/*background-color: blue;*/
/*justify-self: center;*/
}
.n1-item-b img{
width: 100%;
}
.n1-item-c {
grid-area: sidebar_n;
/*background-color: pink;*/
justify-content: space-evenly;
/*font-size:33px;
font-family: 'Oswald', sans-serif;*/
/*
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
justify-content: left;
*/
}
.n1-item-d {
grid-area: footer_n;
/*background-color: green;*/
}
.n1-item-e {
grid-area: bonus_n;
/*background-color: red;*/
padding: 20px;
background-color: turquoise;
}
.n1-item-f {
grid-area: footer2_n;
/*background-color: green;*/
}
.n1-footpad {
grid-area: footpad_n;
height: 5px;
/*background-color: rgb(0, 90, 180);*/
}
.n1-container {
padding-left: 50px;
padding-right: 50px;
display: grid;
grid-template-columns: 16% 16% 16% 16% 16% 16%;
grid-template-rows: auto;
column-gap: 10px;
grid-template-areas: 
  "headpad_n headpad_n headpad_n headpad_n headpad_n headpad_n"
  "header_n header_n main_n sidebar_n sidebar_n sidebar_n"
  "footpad_n footpad_n footpad_n footpad_n footpad_n footpad_n"
  ;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
}




.inline-block {
  display: inline-block;
  vertical-align: top;
}
.inline-block a{
  color: black;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding-left: 10px;
}

.logo {
  width: 25%;
  padding: 1%;
  background-color: hotpink;
}
.center {
  width: 20%;
  padding: 1%;
  background-color: green;
}
.n1-item-c a:hover{
  color: rgb(126, 126, 126);
  /*background-color: aqua;*/
}

ul {
  width: 50%;
  margin-left: auto;
}